#animals {
  grid-area: animals;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-top: 0.4rem;
  margin-right: 2.25vw;
}

#animals .view-title {
  padding: 8px;
  padding-bottom: 2px;

  text-align: center;
  flex-shrink: 0;
}

#animals .list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

#animals .list .mouse {
  margin: 4px 0;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  width: 100%;

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: column;
}

#animals .list .mouse svg {
  background: var(--background);
}

#animals .list .mouse .name {
  font-size: 20px;
  font-weight: 100;
  padding: 4px;
}

#animals .list .mouse .name span {
  margin: 0 8px;

  font-family: var(--font-serif);
  font-style: italic;

  font-weight: 600;
}
#animals .list .mouse .buttons {
  display: inline-block;
}

#animals .list .mouse button {
  background: #fff1;

  margin: 4px;
  border-radius: 4px;
  padding: 4px;
}

#animals .mouse .kiv-axis {
  stroke: white;
  stroke-width: 6;
  stroke-opacity: 0.2;
  stroke-linecap: round;

  transition: stroke-width ease-out 150ms, stroke-opacity ease-out 150ms;
}

#animals .mouse .kiv-axis:hover {
  stroke-width: 16;
  stroke-opacity: 0.5;

  cursor: help;
}

#animals .mouse .kiviat-g {
  pointer-events: none;
}

#animals .mouse .tooltip {
  pointer-events: none;

  transition: opacity 250ms ease-in-out;
}
