@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@import "./shadows.css";

:root {
  /* --background: #121212; */
  --background: #1a202c;
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;

  --cg50: #f9fafb;
  --cg100: #f3f4f6;
  --cg200: #e5e7eb;
  --cg300: #d1d5db;
  --cg400: #9ca3af;
  --cg500: #6b7280;
  --cg600: #4b5563;
  --cg700: #374151;
  --cg800: #1f2937;
  --cg900: #111827;

  --bg50: #f8fafc;
  --bg100: #f1f5f9;
  --bg200: #e2e8f0;
  --bg300: #cbd5e1;
  --bg400: #94a3b8;
  --bg500: #64748b;
  --bg600: #475569;
  --bg700: #334155;
  --bg800: #1e293b;
  --bg900: #0f172a;

  --background: var(--cg900);
  --accent: #fda4af;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* font: 112.5%/1.45em IBM Plex Sans, sans-serif; */
  font-family: IBM Plex Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;

  color: var(--bg700);
  --accent: #be123c;
}

body.dark {
  background: var(--background);

  color: white;
  --accent: #fda4af;
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template:
    32px
    1fr
    200px
    1fr
    / 300px 1fr 2fr;

  gap: 0.5rem;
  padding: 0.5rem;

  grid-template-areas:
    "header header header"
    "animals compare top"
    "animals compare timeline"
    "animals compare bottom";
}

svg text {
  fill: currentColor;
}

.header {
  color: var(--accent);

  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 8px; */
  padding: 8px 16px;

  overflow: hidden;
  margin: -0.5rem -0.5rem 0;

  grid-area: header;
  justify-content: flex-start;
  font-family: var(--font-serif);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.view-title {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.box {
  border-radius: 8px;
  display: flex;

  /* color: white; */
  font-family: sans-serif;
  font-size: 1.4rem;

  align-items: center;
  justify-content: center;
}

body:not(.dark) .box,
body:not(.dark) .header {
  background: white;
}

.left {
  display: grid;
  grid-area: left;

  grid-template: 1fr 100px 1fr / 1fr;

  gap: 0.5rem;
}
#animals {
  grid-area: animals;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#animals .view-title {
  text-align: center;

  flex-shrink: 0;
}

#animals .list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

#animals .list .mouse {
  border: 1px solid var(--accent);
  margin: 12px 0;
  padding: 18px;
  text-align: center;
  font-size: 12px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-flow: column;
}

#animals .list .mouse .name {
  font-size: 22px;
  font-weight: 700;
}

#animals .list .mouse button {
  background: #fff1;

  border: 1px solid white;
  margin: 4px;
  margin-top: 18px;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

#compare {
  display: grid;
  grid-area: compare;

  grid-template-rows: repeat(auto-fill, 1fr);

  gap: 0.5rem;
}

.experiment,
#timeline-control {
  padding: 8px;
}

#timeline-control {
  flex-flow: column;
}

#timeline-control input[type="range"] {
  width: 400px;
}

#timeline-control {
  grid-area: timeline;
}

#top-experiment {
  grid-area: top;
}

#bottom-experiment {
  grid-area: bottom;
}

.experiment {
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.experiment .feature-charts {
  flex: 1 0;
  border: 1px solid var(--accent);
  margin-right: 8px;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.experiment .resp-cycle {
  flex: 0 0 250px;
  border: 1px solid var(--accent);
  margin-right: 8px;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.experiment .image-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;

  padding: 4px;
}

.experiment .image-wrapper svg {
  height: 100%;
  width: 350px;
}

.experiment .image-wrapper .filter-dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

.experiment .image-wrapper .filter-dropdown button {
  margin: 0;
  background: #0002;
  color: white;
  border-radius: 4px;
  border: 1px solid #fff9;
}

.experiment .image-wrapper .filter-dropdown .options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2px;
  border-radius: 4px;

  flex-direction: column;
  background: #000c;
}

.experiment .image-wrapper .filter-dropdown .options button {
  margin: 2px 0;
}

.experiment .image-wrapper .filter-dropdown:focus-within .options {
  display: flex;
}

/* Dark Theme elevation definitions from:
  shadows: https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f
  background: https://material.io/design/color/dark-theme.html#properties
*/
