@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

@import url("https://unpkg.com/tippy.js@6/animations/scale.css");

@import "./shadows.css";
@import "./box.css";
@import "./animals.css";
@import "./experiment.css";
@import "./timeline.css";
@import "./chart.css";
@import "./flow.css";

:root {
  /* --background: #121212; */
  --background: #1a202c;
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;

  --cg50: #f9fafb;
  --cg100: #f3f4f6;
  --cg200: #e5e7eb;
  --cg300: #d1d5db;
  --cg400: #9ca3af;
  --cg500: #6b7280;
  --cg600: #4b5563;
  --cg700: #374151;
  --cg800: #1f2937;
  --cg900: #111827;

  --bg50: #f8fafc;
  --bg100: #f1f5f9;
  --bg200: #e2e8f0;
  --bg300: #cbd5e1;
  --bg400: #94a3b8;
  --bg500: #64748b;
  --bg600: #475569;
  --bg700: #334155;
  --bg800: #1e293b;
  --bg900: #0f172a;

  --background: var(--cg900);
  --accent: #fda4af;

  --inter: #1f78b4;
  --alv: #c1c1c1;
  --neut: #9ccc9c;
  --selected: #fb6a4a;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* font: 112.5%/1.45em IBM Plex Sans, sans-serif; */
  font-family: IBM Plex Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;

  color: var(--bg700);
  --accent: #be123c;
  position: relative;
}

body.dark {
  background: var(--background);

  color: #e0e0e0;
  --accent: #fda4af;
}

.content {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template:
    32px
    2fr
    1fr
    2fr
    / 0.5fr 2fr 0.9fr;

  gap: 0.3vmin;
  padding: 0.8vmin;

  grid-template-areas:
    "header header header"
    "animals top compare"
    "animals timeline compare"
    "animals bottom compare";

  pointer-events: none;
}

.content > div {
  pointer-events: all;
}

svg text {
  fill: currentColor;
  font-family: var(--font);
}

.header {
  color: var(--accent);

  font-size: 1.3rem;
  /* border-radius: 8px; */
  padding: 8px 16px;

  overflow: hidden;
  margin: -0.5rem -1rem 0;

  grid-area: header;
  justify-content: flex-start;
  font-family: var(--font-serif);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header a {
  align-self: stretch;
  /* height: 100%; */
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid var(--accent);
  font-family: var(--font);
  font-weight: 400;

  color: var(--accent);
  font-size: 14px;
  text-decoration: none;
  padding: 2px 8px;
  display: inline-flex;
  align-items: center;
}

.header a:hover {
  background: var(--accent);
  color: var(--background);
}

.view-title {
  font-family: var(--font-serif);
  font-size: 1.3rem;
  font-weight: 300;

  /* text-decoration: underline var(--bg600); */
}

.view-title .emph {
  font-style: italic;
  font-weight: 600;
  color: var(--accent);
}

* {
  box-sizing: border-box;
}

body:not(.dark) .box,
body:not(.dark) .header {
  background: white;
}

button {
  background: #fff1;

  border: 1px solid #e0e0e0;
  margin: 4px;
  color: #e0e0e0;
  border-radius: 4px;
  padding: 4px;

  box-shadow: 0 0 0 0 var(--accent);

  transition: box-shadow 250ms ease-out;
}

button:hover {
  box-shadow: 0 0 2px 1px var(--accent);
  cursor: pointer;

  color: white;
  /* border-color: var(--accent); */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent);
  /* border-color: var(--accent); */
}

#compare {
  display: grid;
  grid-area: compare;

  grid-template-rows: auto repeat(3, 1fr);

  gap: 0.2rem;

  margin-top: 0.4rem;
  margin-left: 2.25vw;
}

#compare .box {
  /* border: 1px solid red; */
}

#compare .view-title {
  padding: 8px;
  padding-bottom: 2px;
  text-align: center;
}

.experiment {
  padding: 8px;
}

.x-axis,
.y-axis {
  color: #b0b0b0;
}
