@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@import "./shadows.css";
@import "./box.css";
@import "./animals.css";
@import "./experiment.css";
@import "./timeline.css";

:root {
  /* --background: #121212; */
  --background: #1a202c;
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;

  --cg50: #f9fafb;
  --cg100: #f3f4f6;
  --cg200: #e5e7eb;
  --cg300: #d1d5db;
  --cg400: #9ca3af;
  --cg500: #6b7280;
  --cg600: #4b5563;
  --cg700: #374151;
  --cg800: #1f2937;
  --cg900: #111827;

  --bg50: #f8fafc;
  --bg100: #f1f5f9;
  --bg200: #e2e8f0;
  --bg300: #cbd5e1;
  --bg400: #94a3b8;
  --bg500: #64748b;
  --bg600: #475569;
  --bg700: #334155;
  --bg800: #1e293b;
  --bg900: #0f172a;

  --background: var(--cg900);
  --accent: #fda4af;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* font: 112.5%/1.45em IBM Plex Sans, sans-serif; */
  font-family: IBM Plex Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;

  color: var(--bg700);
  --accent: #be123c;
}

body.dark {
  background: var(--background);

  color: white;
  --accent: #fda4af;
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template:
    32px
    2fr
    1fr
    2fr
    / 300px 1fr 2fr;

  gap: 0.5rem;
  padding: 0.5rem;

  grid-template-areas:
    "header header header"
    "animals compare top"
    "animals compare timeline"
    "animals compare bottom";
}

svg text {
  fill: currentColor;
}

.header {
  color: var(--accent);

  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 8px; */
  padding: 8px 16px;

  overflow: hidden;
  margin: -0.5rem -0.5rem 0;

  grid-area: header;
  justify-content: flex-start;
  font-family: var(--font-serif);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.view-title {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body:not(.dark) .box,
body:not(.dark) .header {
  background: white;
}

#compare {
  display: grid;
  grid-area: compare;

  grid-template-rows: repeat(3, 1fr);

  gap: 0.5rem;
}

.experiment,
#timeline-control {
  padding: 8px;
}
