@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  /* --background: #121212; */
  --background: #1a202c;
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;

  --cg50: #f9fafb;
  --cg100: #f3f4f6;
  --cg200: #e5e7eb;
  --cg300: #d1d5db;
  --cg400: #9ca3af;
  --cg500: #6b7280;
  --cg600: #4b5563;
  --cg700: #374151;
  --cg800: #1f2937;
  --cg900: #111827;

  --bg50: #f8fafc;
  --bg100: #f1f5f9;
  --bg200: #e2e8f0;
  --bg300: #cbd5e1;
  --bg400: #94a3b8;
  --bg500: #64748b;
  --bg600: #475569;
  --bg700: #334155;
  --bg800: #1e293b;
  --bg900: #0f172a;

  --background: var(--cg900);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  color: white;
  font: 112.5%/1.45em IBM Plex Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template:
    28px
    1fr
    / 2fr 3fr;
  gap: 1rem;
  padding: 1rem;

  grid-template-areas:
    "header header"
    "left right";
}

svg text {
  fill: currentColor;
}

.header {
  color: var(--bg100);

  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 8px; */
  padding: 8px 16px;

  overflow: hidden;
  margin: -1rem -1rem 0;

  grid-area: header;
  justify-content: flex-start;
  font-family: var(--font-serif);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header a {
  margin-left: auto;
  font-family: var(--font);
  font-size: 1.2rem;

  color: #63b3ed;
}

.header a:hover {
  color: #68d391;
  cursor: pointer;
}

.header a:visited {
  color: #b794f4;
}

.view-title {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.box {
  border-radius: 8px;
  display: flex;

  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;

  align-items: center;
  justify-content: center;
}

.left {
  display: grid;
  grid-area: left;

  grid-template: 1fr 100px 1fr / 1fr;

  gap: 1rem;
}

.image-pane,
.time-control {
  padding: 8px;
}

.right {
  display: grid;
  grid-area: right;

  grid-template: 1fr 1fr / 1fr 1fr;

  gap: 1rem;
}

/* Dark Theme elevation definitions from:
  shadows: https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f
  background: https://material.io/design/color/dark-theme.html#properties
*/

.dp-0 {
  box-shadow: none;
}

.dp-1 {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.dp-2 {
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dp-3 {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.dp-4 {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.dp-6 {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.dp-8 {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dp-12 {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.dp-16 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dp-24 {
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
