#top-experiment {
  grid-area: top;
}

#bottom-experiment {
  grid-area: bottom;
}

.experiment {
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

/* FEATURE CHARTS */
.experiment .feature-charts {
  display: flex;
  align-items: stretch;
  flex-flow: column;

  flex: 1 0;
  /* border: 1px solid var(--accent); */
  margin-right: 8px;
  padding: 8px;
  font-size: 12px;
  padding-bottom: 0;
}

.experiment .feature-charts .view-title {
  font-size: 18px;

  font-weight: 600;
  padding-left: 4px;
  padding-bottom: 8px;
}

.experiment .feature-charts .svg-wrapper {
  position: relative;
  flex: 1;
}

.experiment .feature-charts .svg-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.experiment .feature-charts .alv-g {
  --feature-color: var(--alv);
}

.experiment .feature-charts .neu-g {
  --feature-color: var(--neut);
}

.experiment .feature-charts .ci-area {
  fill: var(--feature-color);
  fill-opacity: 0.2;
}

.experiment .feature-charts .mean {
  stroke: var(--feature-color);
  stroke-width: 2;
  fill: none;
}

/* RESPIRATORY CYCLE CHART */
.experiment .resp-cycle {
  flex: 0 0 250px;
  margin-right: 8px;
  padding: 8px;
  text-align: center;
  font-size: 12px;

  position: relative;
}

.experiment .resp-cycle svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
}

.experiment .resp-cycle .time-point {
  fill: #fb6a4a;
  stroke-width: 2;
  stroke: white;
}

.experiment .resp-cycle .cycle {
  fill: none;
  stroke-opacity: 0.5;
  stroke-width: 2;

  transition: stroke 250ms ease-out;
}

.experiment .resp-cycle .cycle.highlighted {
  stroke: #fb6a4a;
  stroke-opacity: 1;
  stroke-width: 6;
}

/* IMAGE VIEWER */
.experiment .image-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;

  padding: 4px;
}

.experiment .image-wrapper svg {
  height: 100%;
  /* width: 350px; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.experiment .image-wrapper .filter-dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

.experiment .image-wrapper .filter-dropdown button {
  margin: 0;
  background: #0002;
  color: white;
  border-radius: 4px;
  border: 1px solid #fff9;
}

.experiment .image-wrapper .filter-dropdown .options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2px;
  border-radius: 4px;

  flex-direction: column;
  background: #000c;
}

.experiment .image-wrapper .filter-dropdown .options button {
  margin: 2px 0;
}

.experiment .image-wrapper .filter-dropdown:focus-within .options {
  display: flex;
}
