/* Loader css from:  https://loading.io/css/ */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  position: absolute;

  top: 1px;
  left: 1px;
  transform: scale(0.4) translate(-50%, -50%);

  opacity: 0;

  transition: opacity 150ms ease-out 20ms;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #fffa;
  border-color: #fffa transparent #fffa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
