#timeline-control {
  position: relative;
  align-items: stretch;
}

#timeline-control {
  grid-area: timeline;
}

#timeline-control .controls {
  flex: 0 0 150px;
  display: flex;
  flex-flow: column;

  border-radius: 8px;

  font-size: 12px;
  padding: 12px;

  align-items: center;
}

#timeline-control .svg-wrapper {
  position: relative;
  flex: 1;
}

#timeline-control svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#timeline-control svg .slider-area {
  cursor: ew-resize;
  fill-opacity: 0;
}

#timeline-control svg .slider {
  pointer-events: none;
}

#timeline-control svg .slider .slider-bg {
  stroke: #fff4;
  stroke-width: 8;
}

#timeline-controlsvg .slider:hover .slider-bg {
  stroke-opacity: 1;
}

#timeline-control svg .slider .slider-line {
  stroke: var(--selected);
  stroke-width: 2;
  stroke-linecap: round;
}

#timeline-control .ratio-path {
  fill: var(--inter);
  fill-opacity: 0.2;

  /* stroke: #1f78b4;
  stroke-width: 2px; */
}

#timeline-control .airspace {
  fill: none;
  stroke: var(--alv);
}
