#timeline-control {
  position: relative;
  align-items: stretch;
}

#timeline-control {
  grid-area: timeline;
}

#timeline-control .controls {
  flex: 0 0 150px;
  display: flex;
  flex-flow: column;

  border-radius: 8px;

  font-size: 12px;
  padding: 2px 12px;

  align-items: center;
}

#timeline-control .controls #time-buttons button {
  height: 26px;
  line-height: 1.1;

  padding: 4px 6px;
}

#timeline-control #time-buttons button .icon {
  width: 12px;
  height: 12px;
}

#timeline-control .controls .button-group {
  padding: 4px;
}

#timeline-control .controls .button-group button {
  margin: 0;
  border-radius: 0 0 0 0;
}

#timeline-control .controls .button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#timeline-control .controls .button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#timeline-control .controls #speed-buttons #speed-label {
  padding: 4px 8px;

  background: var(--background);
  border: 1px solid #fff4;
}

#timeline-control .svg-wrapper {
  position: relative;
  flex: 1;
}

#timeline-control svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#timeline-control svg .slider-area {
  cursor: ew-resize;
  fill-opacity: 0;
}

#timeline-control svg .slider {
  pointer-events: none;
}

#timeline-control svg .slider .slider-bg {
  stroke: #fff4;
  stroke-width: 8;
}

#timeline-controlsvg .slider:hover .slider-bg {
  stroke-opacity: 1;
}

#timeline-control svg .slider .slider-line {
  stroke: var(--selected);
  stroke-width: 2;
  stroke-linecap: round;
}

#timeline-control svg .slider .slider-label {
}

#timeline-control .ratio-path {
  fill: var(--inter);
  fill-opacity: 0.2;

  /* stroke: #1f78b4;
  stroke-width: 2px; */
}

#timeline-control .airspace {
  fill: none;
  stroke: var(--alv);
}
